/* If the screen size is smaller than 450px, change equation styling */
@media (max-width: 450px) {
  .katex {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .katex-display > .katex > .katex-html > .tag {
    position: relative;
    right: -10px;
  }
}
/* If the screen size is smaller than 450px, change equation styling */

/* Change navbar color */
.md-header {
  background-color: #e4efeb;
}
.md-tabs {
  background-color: #e4efeb;
}
[data-md-color-scheme="slate"] {
  .md-header {
    background-color: hsl(158 26% 40% / 1);
  }
  .md-tabs {
    background-color: hsl(158 26% 40% / 1);
  }
}
/* Change navbar color */

/* Increase the logo size */
.md-header__button.md-logo {
  margin: 20px;
  padding: 0;
}
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 2.6rem;
}
// To make anchor links work with the increased logo size
[id]::before {
  content: "";
  display: block;
  height: 30px;
  margin-top: -30px;
  visibility: hidden;
}
/* Increase the logo size */

/* Blog title image settings */
.blog-title-image {
  height: auto;
  width: 100%;
  overflow: hidden;
}
/* Blog title image settings */

/* For YouTube embeds */
.video-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.video-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/* For YouTube embeds */

/* Group photo settings */
#group-photo {
  border-radius: 25px;
}
/* Group photo settings */

/* For index page, posts  */
.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
}
.post {
  margin-bottom: 20px;
  flex: 45%;
  padding: 15px;
  border-radius: 10px;
  background-color: #e4efeb60;
}

@media (max-width: 650px) {
  .post {
    flex: 100%;
  }
}

[data-md-color-scheme="slate"] {
  .post {
    background-color: hsl(158deg 26% 40% / 10%);
  }
}
/* For index page, posts  */
